/* 通用設定 */
*{box-sizing: border-box;}
body h1  h2  h3 h4 p{
    margin: 0;
}
a {
    text-decoration: none
}
img{
    width: 100%;
}
body{
    color: #ffffff;
    font-family:inherit;
    background-color: #000000;
}
.wrap-header{
    width: 100%;
    background-image:url(image/card-image01.jpg) ;
    background-position: 60px;
    position: sticky;
    top: 0px;
}
.wrap-content{
    width: 1024px;
    margin: 0 auto;
}
/*header 頁首設定*/
header{
    width: 1024px;
    margin: 0 auto;
    padding: 12px;
    display: flex;
}

header .logo{
    background-image: url(image/按鈕.jpg);
    background-repeat:no-repeat ;
    margin-right: auto;
    margin-top: 4px;
}
header .logo a{
    display: block;
    width: 200px;height: 135px;
    text-indent: -9999px;
    overflow: hidden;
}

header ul {
    margin: 0;padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
header ul a{
    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    display: block;
    border-radius: 40px;
    padding: 20px 40px;
    background-color: rgb(255, 255, 255);
}
header ul a:hover {
   color: #ffffff;
   background-color: #3e3e3e;
}
header .cta-button {
    color: #ffffff;
    font-size: 30px;
    font-weight: 600;
    margin-left: auto;
    border: 0;
    border-radius: 40px;
    padding: 20px 40px;
    background-color: #FFB200;
    cursor: pointer;
}
/*main 主視覺設定*/
main {
    text-align: center;
    color: #ffffff;
    width: 100%;height: 385px;
    padding-top: 50px;
    margin-bottom: 16px;
    border-radius: 16px;;
    background-color: #021234;
}
main h1{
    font-size: 48px;
}
main h3{
font-size: 32px;
}
/*card 小卡設定*/
section{
   display: flex;
   width: 100%;
   gap: 0px ;
}
.card{
    width: 300px;

    background-color: #021234;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 85 100 50 1 white;
}
.card-content {
padding: 16px 22px;
}
.card-title {
    margin-bottom: 16px;
}
.card-intro{
   line-height: 150%; 
}
/*footer 頁尾設定*/
footer{
    color: #cdcdcd;
    width: 100%;
    text-align: center;
    padding: 20px 0;
}
footer a {
     color: #ffffff;
}
footer a:hover{
   color: #d3d3d3;
}